
#===============================================================================
# Node.js
#===============================================================================

node_modules

# Output directories
dist


#===============================================================================
# General
#===============================================================================

# Editor configurations
.vscode
